# build byproducts
/build/
/.zx02_cache/

# gets its own build folder, so that make clean can work independently
/build.tass64/

# tass64 build byproducts
/dependencies/64tass/tass64-code.*/*.o
/dependencies/64tass/tass64-code.*/64tass

# Unix-type tools
/bin/64tass
/bin/beebasm
/bin/zx02

# Windows zx02 build byproducts
/bin/zx02.ilk

# beeblink stuff
/tests/beeblink/fdload_dfs/R/
/tests/beeblink/fdload_dfs/S/
/tests/beeblink/fdload_dfs/T/
/tests/beeblink/fdload_dfs/U/
/tests/beeblink/fdload_dfs/V/
/tests/beeblink/fdload_dfs/W/
/tests/beeblink/fdload_dfs/X/
/tests/beeblink/fdload_dfs/Y/
/tests/beeblink/fdload_dfs/Z/

# Emacs stuff
/.dir-locals.el
