# build byproducts
/build/
/.zx02_cache/

# tass64 build byproducts
/dependencies/tass64-code.*/*.o
/dependencies/tass64-code.*/64tass

# Unix-type tools
/bin/64tass
/bin/beebasm
/bin/zx02

# Windows zx02 build byproducts
/bin/zx02.ilk
