$.SCREENS diff=bbcbasic
$.ZX02TEST1 diff=bbcbasic
$.READTRACK diff=bbcbasic
$.ZX02TEST2 diff=bbcbasic
$.RESET diff=bbcbasic
$.FDLOADTEST diff=bbcbasic
$.DISKLOC diff=bbcbasic
$.DFSTEST1 diff=bbcbasic
$.MKFILES diff=bbcbasic
